# Global rules for binaries and large assets
*.csv
*.exe
*.jpg
*.png
*.zip
*.cnn
*.txt

# Ignore specific heavy data files
mnist_train.csv
mnist_test.csv
fashion-mnist_train.csv
fashion-mnist_test.csv

# FUCK!!
!001-Convolutional_Neural_Net/cnn-data/flowers/flowers_dataset.csv

#ASDASFDASDASD
001-Convolutional_Neural_Net/cnn-data/catdog/
001-Convolutional_Neural_Net/cnn-data/mnist/

# Ignore all models inside subfolders
001/Convolutional_Neural_Net/trained_cnns/**/*.cnn

# Ignore VS Code settings
.vscode/