# 1. Ignore specific heavy data files
mnist_train.csv
mnist_test.csv
fashion-mnist_train.csv
fashion-mnist_test.csv

# 2. Ignore everything inside cnn-data
cnn-data/**/*

# 3. BUT allow the folders to exist
# AND specifically allow the flowers folder content
!cnn-data/flowers/
!cnn-data/flowers/*

# 4. Ignore all models inside subfolders
trained_cnns/**/*.cnn

# 5. Global rules for binaries and large assets
*.csv
*.exe
*.jpg
*.png
*.zip
*.cnn
*.txt

# 6. Ignore VS Code settings
.vscode/